

.page {
  background: white;
  display: block;
  margin: 0 auto;
  min-width: $page-current-view-width;
  max-width: $page-current-view-width;
  min-height: $page-current-view-height;
  max-height: $page-current-view-height;

  &-border {

    min-width: 1070px;
    max-width: 1070px;
    min-height: $page-current-view-height;
  }
}

.container {
  &-render-mobi{
    display: flex;
    flex-direction: row;
    width:$page-current-view-width;
  }
  &-flex {
    &-column{
      display: flex;
      flex-direction: column;
      &-spacebetween{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-img-full {
    width:100%;
    height: ( $page-current-view-height - 4);
  }
  &-pages{

  }
  &-full-width{
    min-width:$page-current-view-width;
  }
  &-book-divider{
    width:100%;
    min-height:  ( $page-current-view-height);
    padding-top:3rem;
    box-sizing: border-box;
    &-img{
      width:100%;
      max-height: ( $page-current-view-height - 700);
      padding-top:3rem;
      box-sizing: border-box;
    }
  }
  &-single-page{
    max-height: $page-kindle-paperwhite-img-height;
    min-height: $page-kindle-paperwhite-img-height;
    break-before: auto;
    box-sizing: border-box;
  }

}
