// Output format Styles
.page-size{
  &-mobi{
    min-height: $page-kindle-paperwhite-height;
    max-height: $page-kindle-paperwhite-height;
    min-width: $page-kindle-paperwhite-width;
    max-width: $page-kindle-paperwhite-width;
    &-img-full-hieght{
      min-height: $page-kindle-paperwhite-height-img;
      max-height: $page-kindle-paperwhite-height-img;
      min-width: $page-kindle-paperwhite-width-img;
      max-width: $page-kindle-paperwhite-width-img;
    }
  }
}
.page-width{
    &-mobi{
      min-width: $page-kindle-paperwhite-width;
      max-width: $page-kindle-paperwhite-width;
    }
  }
.new-page{
  page-break-before: always;
  padding-top:3rem;
  box-sizing: border-box;
}

.container {
  &-flex {
    &-column {
      display: flex;
      flex-direction: column;
      &-spacebetween {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-spacebetween {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }
    &-width{
      &-1{
        width:30%;
      }
      &-2{
        flex-grow:2;
      }
      &-3{
        flex-grow:3;
      }
    }
  }
  &-img-full {
    width:100%;
    height: ( $page-current-view-height - 4);
  }
  &-full-width{
    min-width:$page-current-view-width;
  }
  &-book-divider{
    height:1000px;
    &-img{
      width:100%;
      max-height: ( $page-current-view-height - 700);
      padding-top:3rem;
      box-sizing: border-box;
    }
  }
}
