/* This file contains styles used for rapid prototyping only */

.test-box-medium{
  &-red, &-blue, &-green{
    min-width:5rem;
    min-height:3rem;
  }
  &-red, .red{
    background:red;
  }
  &-blue, .blue{
    background:blue;
  }
  &-green, .greem{
    background:green;
  }
}

.test-flex-row{
  display:flex;
  flex-direction:row;
}


.pagebreak { page-break-before: always; }