/* This file contains: 
  - 1. imports to all CSS used in this APP
  - 2. CSS reset
  - 3. High level CSS defaults  */

@import 'variables.scss';

@import 'containers.scss';
@import 'forms.scss';
@import 'bordersAndPadding.scss';
@import 'text.scss';
@import 'color.scss';

@import 'customOverrides.scss';

@import 'devSandbox.scss';

/* CSS reset */
*{
  padding:0;
  margin:0
}
/* High level CSS defaults */
html{
  font-size:35px;
}