@import './variables.scss';

// p 
// h1 {chapter/ section Header} {Contents Header} 
// h2 {Page Header}  (include page break)
// h3 {in page sub header} (optional Page break)
// h4 {2nd level in page sub header}





h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}
h2 {
  font-size: 4rem;
  text-align: center;
  padding: 0 0 1.5rem 0;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  &.contents-section {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }
}
h4 {
  font-size: 2.5rem;
  margin: 1rem 0rem 0.3rem 0rem;
  font-weight: 400;
  &.contents-item {
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 300;
    font-size: 2rem;
  }
}
h5 {
  font-size: 1.5rem;
  margin: 0rem 0rem 0.5rem 2rem;
  font-weight: 200;
}
.text-align-center {
  text-align: center;
}
p {
  font-size: 2rem;
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 200;
}

li {
  list-style-type: none;
  font-size: 1.5rem;
  &.indented {
    margin: 1rem 3rem 1rem 3rem;
    &-2 {
      margin: 0.5rem 0rem 0.5rem 5rem;
    }
  }
  &.bullets {
    font-size: $font-m;
    font-weight: 200;
    margin: 1rem 0rem 1rem 3rem;
    list-style-type: disc;
    &-indented {
      margin: 1rem 3rem 1rem 3rem;
      &-2 {
        margin: 0.5rem 0rem 0.5rem 5rem;
        font-size: 1.4rem;
        font-weight: 200;
      }
    }
  }
}

.text{
  &-left{
    text-align:left;
  }
  &-right{
    text-align:right;
  }
  &-center{
    text-align:center;
  }
  &-bottom{
    vertical-align: bottom;
  }
  &-size{
    &-x{
      font-size:1rem;
    }
  }
}

.table {
  &-side-header {
    font-size: 1.5rem;
    padding: 1rem;
    height: 5rem;
  }
}
.contents-page-number {
  font-size: 1.5rem;
  font-weight: 200;
}


.text-white{
color:white;
background:white;
padding:10px;
box-sizing: border-box;
}