@import './variables.scss';

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  page-break-before: always;
}
h2 {
  font-size: 5rem;
  text-align: center;

}

h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2rem;
  margin: 0rem 0rem 1rem 0.5rem;
  font-weight: 300;
}
h5 {
  font-size: 1.5rem;
  margin: 0rem 0rem 1rem 2rem;
  font-weight: 200;
}
.text-align-center {
  text-align: center;
}
p {
  font-size: 1.5rem;
  margin: 0rem 1rem 3rem 0rem;
  font-weight: 200;
}

li {
  list-style-type: none;
  &.bullets {
    font-size: $font-body;
    font-weight: 200;
    margin: 1rem 0rem 1rem 3rem;
    list-style-type: circle;
    color: green;
  }
}
