
/* Colors */
$color-background-primary:red;
$color-background-secondary:blue;
$color-background-tertiary:green;

$color-light:#f8f8ff;
$color-dark:#313639;
/* Dimensions */


$page-kindle-paperwhite-height:1505px;
$page-kindle-paperwhite-width:1072px;
$page-kindle-paperwhite-height-img:1501px;
$page-kindle-paperwhite-width-img:1070px;

$page-current-view-height:$page-kindle-paperwhite-height;
$page-current-view-width:$page-kindle-paperwhite-width;

/* Fonts */
$font-m:1.5rem;
$font-s:1.2rem;
